<ion-view >
	<ion-header-bar class="bar bar-header HeaderColor">

		<h1 class="title TitleCenter TitleColor" style="text-align: left;left:0px;"> Firstcoo </h1>
		<div class="TwoIconHeader">
			<button ng-click="goToCartPage()" class="button button-clear icon-right ion-android-cart MenuIconColor">
				<span class="badge badge-assertive CartCounter">01</span>
			</button>
			<button ng-click="popover.show($event)" class="button button-clear icon-right ion-ios-person MenuIconColor" style="width: 28px; "></button>
			<button menu-toggle="right" class="button button-clear icon-right ion-android-menu MenuIconColor"></button>
		</div>
	</ion-header-bar>
	<ion-content class="has-header" style="background: #d9d9d9;">
		<div class="Wrapper">
			<div class="termandconditionMain">
				<div class="BabyClothesThumbs" style="background:none;">
					<h2 style="background:#fadb32 !important;">Cash Coupons</h2>
					<div class="cashcouponinner">
						<div style="background: #FADB7C !important;text-align: center;">
							You have Rs.2500 worth of cash coupon.
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</ion-content>
</ion-view>
<style>
.cashcouponinner {
    width: 95%;
    background: #fff;
    margin: 0 auto;
    text-align: justify;
    padding: 0px;
}
</style>