<ion-view >
	<ion-header-bar class="bar bar-header HeaderColor">

		<h1 class="title TitleCenter TitleColor" style="text-align: left;left:0px;"> Firstcoo </h1>
		<div class="TwoIconHeader">
			<button ng-click="goToCartPage()" class="button button-clear icon-right ion-android-cart MenuIconColor">
				<span class="badge badge-assertive CartCounter">01</span>
			</button>
			<button ng-click="popover.show($event)" class="button button-clear icon-right ion-ios-person MenuIconColor" style="width: 28px; "></button>
			<button menu-toggle="right" class="button button-clear icon-right ion-android-menu MenuIconColor"></button>
		</div>
	</ion-header-bar>
	<div class="bar bar-subheader SubHeaderItemDetail">
		<h2> Peaches & Cream by Babyhug Rhinestone Studded Layerd Party Frock -White </h2>
		<p>
			6 to 12 Months, Your daughter will look nothing less than a princess in this dress
		</p>
	</div>
	<ion-content style="background: #d9d9d9; top: 128px;">
		<div class="Wrapper WhiteBackground ItemWrapper">
			<div class="ItemDetailSlider">
				<ion-slide-box class="SliderMain" show-pager="false" does-continue="false" auto-play="false">
					<ion-slide>
						<div class="ItemSliderImg">
							<img src="img/item-details/slide-1.png" />
						</div>
					</ion-slide>
					<ion-slide>
						<div class="ItemSliderImg">
							<img src="img/item-details/slide-2.png" />
						</div>
					</ion-slide>
					<ion-slide>
						<div class="ItemSliderImg">
							<img src="img/item-details/slide-3.png" />
						</div>
					</ion-slide>
				</ion-slide-box>
			</div>
			<div class="AmountWithSave">
				<p>
					<span style="color: red;">RS 960</span> &nbsp; <strike> RS 1129 </strike><span> (15% OFF) </span>
				</p>
			</div>
			<div class="clear"></div>
			<div class="SelectColornSize">
				<div class="ItemSelectColor">
					<span>&nbsp;</span> Select Color
				</div>
				<div class="ItemSizeChart">
					<img src="img/item-details/select-size.png" width="50" />
					Size Chart
				</div>
			</div>
			<div class="clear"></div>
			<div class="SelectColorA">
				<span style="background: #fa9ec3;">&nbsp;</span>
				<span style="background: #ffdbd5;">&nbsp;</span>
				<span class="activeColor" style="background: #e7e6ec;">&nbsp;</span>
			</div>
			<div class="clear"></div>
			<div class="SelectSizeM">
				<img src="img/item-details/select-size-1.png" width="40" />
				Select Size
			</div>
			<div class="clear"></div>
			<div class="SelectSizeScroller">
				<span>6 - 12 M</span>
				<span class="SelectSizeActive">12 - 18 M</span>
				<span>18 - 24 M</span>
				<!--
				<span>24 - 30 M</span>
				<span>30 - 36 M</span>
				<span>36 - 42 M</span>-->
			</div>
			<div class="clear"></div>
			<div class="DeliveryInfoM">
				<p>
					Delivery Information <span style="color: #366FE3;">[?]</span>
				</p>
				<input type="tel" placeholder="Enter Pincode" />
				<button type="button">
					Check
				</button>
			</div>
			<div class="clear"></div>
			<div class="SelectColornSize1">
				<div class="EarnLoyaltyL">
					<img src="img/item-details/earn-loyalty.png" width="25" />
					<p>
						Earn Loyalty Cash: Rs 19* <span style="color: #366FE3;">[?]</span>
					</p>
				</div>
				<div class="EarnLoyaltyR">
					<span>Product id:</span>
					<span><b>703098</b></span>
				</div>
			</div>
			<div class="FreeReturn">
				<img src="img/item-details/return-icon.png" width="25" />
				<p>
					30 Days - Free Return
				</p>
				<i class="icon ion-ios-arrow-right"></i>
			</div>
		</div>
		<div class="BrandInformaiton WhiteBackground">
			<p>
				Brand Information: Babyhug
			</p>
			<i class="icon ion-ios-arrow-right"></i>
		</div>
		<div class="clear"></div>
		<div class="SliderMain2">
			<div class="SecondSliderHeader BlueBackground">
				FirstCoo Special
			</div>
			<div class="ThreeItemData tsb-ic-wrp">
				<ion-scroll direction="x" class="tsb-hscroll">

					<div class="BabyClothesSlider">
						<div class="CustomSlideTop">
							<p>
								Bleeding Blue By Babyhug
							</p>
						</div>
						<div class="CustomSlideMiddle">
							<img src="img/baby-clothes/slider-img-1.png" />
						</div>
						<div class="CustomSlideBottom">
							Shop Now
						</div>
					</div>

					<div class="BabyClothesSlider">
						<div class="CustomSlideTop">
							<p>
								Bleeding Blue By Babyhug
							</p>
						</div>
						<div class="CustomSlideMiddle">
							<img src="img/baby-clothes/slider-img-2.png" />
						</div>
						<div class="CustomSlideBottom">
							Shop Now
						</div>
					</div>

					<div class="BabyClothesSlider">
						<div class="CustomSlideTop">
							<p>
								Bleeding Blue By Babyhug
							</p>
						</div>
						<div class="CustomSlideMiddle">
							<img src="img/baby-clothes/slider-img-1.png" />
						</div>
						<div class="CustomSlideBottom">
							Shop Now
						</div>
					</div>

					<div class="BabyClothesSlider">
						<div class="CustomSlideTop">
							<p>
								Bleeding Blue By Babyhug
							</p>
						</div>
						<div class="CustomSlideMiddle">
							<img src="img/baby-clothes/slider-img-2.png" />
						</div>
						<div class="CustomSlideBottom">
							Shop Now
						</div>
					</div>

					<div class="BabyClothesSlider">
						<div class="CustomSlideTop">
							<p>
								Bleeding Blue By Babyhug
							</p>
						</div>
						<div class="CustomSlideMiddle">
							<img src="img/baby-clothes/slider-img-1.png" />
						</div>
						<div class="CustomSlideBottom">
							Shop Now
						</div>
					</div>

					<div class="BabyClothesSlider">
						<div class="CustomSlideTop">
							<p>
								Bleeding Blue By Babyhug
							</p>
						</div>
						<div class="CustomSlideMiddle">
							<img src="img/baby-clothes/slider-img-2.png" />
						</div>
						<div class="CustomSlideBottom">
							Shop Now
						</div>
					</div>

					<div class="BabyClothesSlider">
						<div class="CustomSlideTop">
							<p>
								Bleeding Blue By Babyhug
							</p>
						</div>
						<div class="CustomSlideMiddle">
							<img src="img/baby-clothes/slider-img-1.png" />
						</div>
						<div class="CustomSlideBottom">
							Shop Now
						</div>
					</div>
				</ion-scroll>
			</div>
		</div>
	</ion-content>
</ion-view>