<div class="Wrapper sortby">
    <div class="sortbycontent">
        <p class="close_x_1" ng-click="addGiftWrap.hide();">
            <span class="close_text">X</span>
        </p>
        <h2 class="AddGiftWrap">Add Gift Wrap</h2>
        <div class="AddGiftWrapM">
            <div class="AddGiftWrapInner">
                <div class="AddGiftInputs">
                    <input type="text" placeholder="To :" />
                    <input type="text" placeholder="From :" />
                    <textarea placeholder="Message (140 Characters) :"></textarea>
                </div>
                <div ng-click="addGiftWrap.hide();" class="ContinueBtnDelivery">
                    SAVE
                </div>
            </div>

        </div>
    </div>
</div>