<div class="Wrapper sortby">
    <div class="sortbycontent">
        <ul class="sort_by_options socialshare_main">
        <li>Share Via...</li>
        <li  ng-click="socialshare.hide();"><img src="img/socialshare/facebook.png" />Facebook</li>
        <li  ng-click="socialshare.hide();"><img src="img/socialshare/google+.png" />Google+</li>
        <li  ng-click="socialshare.hide();"><img src="img/socialshare/whatsapp.png" />Whatsapp</li>
        <li  ng-click="socialshare.hide();"><img src="img/socialshare/socialshare.png" />Other Apps</li>
        </ul>
    </div>
</div>