<div class="DailyWrapper WhiteBackground">
    <div class="OffersDealHeader">
        <h2> Daily Deals </h2>
    </div>
    <div class="TodaysDeals">
        <div class="OfferZoneDailyThumbs">
            <div class="DailyOfferTop">
                <div class="DailyOfferL">
                    Extra 10% OFF Baby Care Range
                </div>
                <div class="DailyOfferR">
                    <i class="icon ion-android-share-alt"></i>
                </div>
            </div>
            <div class="OfferZoneDailyThumbsImg"><img src="img/Offers/daily_deal_3.png">
            </div>
            <div class="clear"></div>
            <div class="DailyOfferBottom">
                <div class="DailyOfferBottomFull">
                    <p>
                        Use Coupen:<span class="DarkGrey"> FASHN2016 </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="OfferZoneDailyThumbs">
            <div class="DailyOfferTop">
                <div class="DailyOfferL">
                    Baby Care
                </div>
                <div class="DailyOfferR">
                    <i class="icon ion-android-share-alt"></i>
                </div>
            </div>
            <div class="OfferZoneDailyThumbsImg"><img src="img/Offers/fashion_corner_1.png">
            </div>
            <div class="clear"></div>
            <div class="DailyOfferBottom">
                <div class="DailyOfferBottomFull">
                    <p>
                        Use Coupen:<span class="DarkGrey"> FASHN2016 </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>