<div class="DailyWrapper WhiteBackground">
    <div class="OffersDealHeader">
        <h2> Today's Deals </h2>
        <div class="TodaysDeals">
            <div class="OfferZoneDailyThumbs">
                <div class="DailyOfferTop">
                    <div class="DailyOfferL">
                        Extra 20% Cashback* on Diapers
                    </div>
                    <div class="DailyOfferR">
                        <i class="icon ion-android-share-alt"></i>
                    </div>
                </div>
                <div class="OfferZoneDailyThumbsImg"><img src="img/Offers/daily_deal_1.png">
                </div>
                <div class="clear"></div>
                <div class="DailyOfferBottom">
                    <div class="DailyOfferBottomL">
                        <p>
                            Use Coupen:
                        </p>
                        <p class="DarkGrey">
                            ASDFG25KL
                        </p>
                    </div>
                    <div class="DailyOfferBottomC">
                        <i class="fa fa-bell"></i>
                        <p>
                            Set Reminder
                        </p>
                    </div>
                    <div class="DailyOfferBottomR">
                        <i class="fa fa-clock-o" style="font-size: 16px;"></i>
                        <p>
                            3d:8h
                        </p>
                    </div>
                </div>
            </div>
            <div class="OfferZoneDailyThumbs">
                <div class="DailyOfferTop">
                    <div class="DailyOfferL">
                        Flat 25% OFF 40% Cashback* on Entire Fashion Range
                    </div>
                    <div class="DailyOfferR">
                        <i class="icon ion-android-share-alt"></i>
                    </div>
                </div>
                <div class="OfferZoneDailyThumbsImg"><img src="img/Offers/daily_deal_2.png">
                </div>
                <div class="clear"></div>
                <div class="DailyOfferBottom">
                    <div class="DailyOfferBottomL">
                        <p>
                            Use Coupen:
                        </p>
                        <p class="DarkGrey">
                            FASHN2016
                        </p>
                    </div>
                    <div class="DailyOfferBottomC">
                        <i class="fa fa-bell"></i>
                        <p>
                            Set Reminder
                        </p>
                    </div>
                    <div class="DailyOfferBottomR">
                        <i class="fa fa-clock-o" style="font-size: 16px;"></i>
                        <p>
                            14d:8h
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>