<div class="DailyWrapper WhiteBackground">
    <div class="OffersDealHeader">
        <h2> Fashion Corner </h2>
    </div>
    <div class="TodaysDeals">
        <div class="OfferZoneDailyThumbs">
            <div class="DailyOfferTop">
                <div class="DailyOfferL">
                    Extra 15% OFF Fashin Range
                </div>
                <div class="DailyOfferR">
                    <i class="icon ion-android-share-alt"></i>
                </div>
            </div>
            <div class="OfferZoneDailyThumbsImg"><img src="img/Offers/fashion_corner_1.png">
            </div>
            <div class="clear"></div>
            <div class="DailyOfferBottom">
                <div class="DailyOfferBottomL">
                    <p>
                        Use Coupen:
                    </p>
                    <p class="DarkGrey">
                        Fashon2016
                    </p>
                </div>
                <div class="DailyOfferBottomC">
                    <i class="fa fa-bell"></i>
                    <p>
                        Set Reminder
                    </p>
                </div>
                <div class="DailyOfferBottomR">
                    <i class="fa fa-clock-o" style="font-size: 16px;"></i>
                    <p>
                        5h:27m
                    </p>
                </div>
            </div>
        </div>
        <div class="OfferZoneDailyThumbs">
            <div class="DailyOfferTop">
                <div class="DailyOfferL">
                    Flat 25% Fashion Range
                </div>
                <div class="DailyOfferR">
                    <i class="icon ion-android-share-alt"></i>
                </div>
            </div>
            <div class="OfferZoneDailyThumbsImg"><img src="img/Offers/fashion_corner_2.png">
            </div>
            <div class="clear"></div>
            <div class="DailyOfferBottom">
                <div class="DailyOfferBottomL">
                    <p>
                        Use Coupen:
                    </p>
                    <p class="DarkGrey">
                        FASHN2016
                    </p>
                </div>
                <div class="DailyOfferBottomC">
                    <i class="fa fa-bell"></i>
                    <p>
                        Set Reminder
                    </p>
                </div>
                <div class="DailyOfferBottomR">
                    <i class="fa fa-clock-o" style="font-size: 16px;"></i>
                    <p>
                        14d:8h
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>