<div class="Wrapper">
    <div class="RecentyViewedMain">
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM single_row_main">
            <div class="RecentyViewedThumbs">
                <div class="RecentyViewedImg-singel-row"><img class="image-singel-row" src="img/RecentlyViewed/recently_viewed_1.png"/>
                </div>
                <div class="row_data_main">
                    <p class="row_data">
                        <span class="P-RecentlyViewedHeading-single_row">Peaches & Cream by Babyhug Rhinestone Studded...</span>
                        <span class="P-RecentlyViewedHeading2">6 to 12 Months, Your daughter will look nothing less than a princess in the dress</span>
                    </p>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                    <div class="ShortListedShare">
                        <input type="submit" class="add_to_cart_single_row" value="ADD TO CART" />
                        <p class="variants_single_row">
                            <i class="ion-plus-circled"></i><span>Variants</span>
                        </p>
                        <i ng-click="ShareShortList()"  class="icon ion-android-more-vertical"></i>
                    </div>
                </div>
            </div>
        </div>

        <div ng-click="goToDetail()" class="WhiteBackground ShortListM single_row_main">
            <div class="RecentyViewedThumbs">
                <div class="RecentyViewedImg-singel-row"><img class="image-singel-row" src="img/RecentlyViewed/recently_viewed_1.png"/>
                </div>
                <div class="row_data_main">
                    <p class="row_data">
                        <span class="P-RecentlyViewedHeading-single_row">Peaches & Cream by Babyhug Rhinestone Studded...</span><span class="P-RecentlyViewedHeading2">6 to 12 Months, Your daughter will look nothing less than a princess in the dress</span>
                    </p>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                    <div class="ShortListedShare">
                        <input type="submit" class="add_to_cart_single_row" value="ADD TO CART" />
                        <p class="variants_single_row">
                            <i class="ion-plus-circled"></i><span>Variants</span>
                        </p>
                        <i ng-click="ShareShortList()"  class="icon ion-android-more-vertical"></i>
                    </div>
                </div>
            </div>
        </div>

        <div ng-click="goToDetail()" class="WhiteBackground ShortListM single_row_main">
            <div class="RecentyViewedThumbs">
                <div class="RecentyViewedImg-singel-row"><img class="image-singel-row" src="img/RecentlyViewed/recently_viewed_1.png"/>
                </div>
                <div class="row_data_main">
                    <p class="row_data">
                        <span class="P-RecentlyViewedHeading-single_row">Peaches & Cream by Babyhug Rhinestone Studded...</span><span class="P-RecentlyViewedHeading2">6 to 12 Months, Your daughter will look nothing less than a princess in the dress</span>
                    </p>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                    <div class="ShortListedShare">
                        <input type="submit" class="add_to_cart_single_row" value="ADD TO CART" />
                        <p class="variants_single_row">
                            <i class="ion-plus-circled"></i><span>Variants</span>
                        </p>
                        <i ng-click="ShareShortList()"  class="icon ion-android-more-vertical"></i>
                    </div>
                </div>
            </div>
        </div>

        <div ng-click="goToDetail()" class="WhiteBackground ShortListM single_row_main">
            <div class="RecentyViewedThumbs">
                <div class="RecentyViewedImg-singel-row"><img class="image-singel-row" src="img/RecentlyViewed/recently_viewed_1.png"/>
                </div>
                <div class="row_data_main">
                    <p class="row_data">
                        <span class="P-RecentlyViewedHeading-single_row">Peaches & Cream by Babyhug Rhinestone Studded...</span><span class="P-RecentlyViewedHeading2">6 to 12 Months, Your daughter will look nothing less than a princess in the dress</span>
                    </p>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                    <div class="ShortListedShare">
                        <input type="submit" class="add_to_cart_single_row" value="ADD TO CART" />
                        <p class="variants_single_row">
                            <i class="ion-plus-circled"></i><span>Variants</span>
                        </p>
                        <i ng-click="ShareShortList()"  class="icon ion-android-more-vertical"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>