<div class="Wrapper">
    <div class="RecentyViewedMain">
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM category_two_row">
            <div class="RecentyViewedThumbs grey_border_bottom">
                <div class="top_button_new_premiun">
                    <p class="new_two_row">
                        New!
                    </p>
                    <p class="premium_two_row">
                        Premium
                    </p>
                </div>
                <div class="RecentyViewedImg RecentyViewedImgtworow"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
            </div>
            <div >
                <div class="two_row_detail">
                    <span class="P-RecentlyViewedHeading-single_row">Peaches &amp; Cream by Babyhug Rhinestone Studded...</span>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                </div>
                <i class="ion-ios-heart-outline custom_heart"></i>
            </div>
        </div>
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM category_two_row">
            <div class="RecentyViewedThumbs grey_border_bottom">
                <div class="top_button_new_premiun">
                    <p class="new_two_row">
                        New!
                    </p>
                    <p class="premium_two_row">
                        Premium
                    </p>
                </div>
                <div class="RecentyViewedImg RecentyViewedImgtworow"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
            </div>
            <div >
                <div class="two_row_detail">
                    <span class="P-RecentlyViewedHeading-single_row">Peaches &amp; Cream by Babyhug Rhinestone Studded...</span>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                </div>
                <i class="ion-ios-heart-outline custom_heart"></i>
            </div>
        </div>
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM category_two_row">
            <div class="RecentyViewedThumbs grey_border_bottom">
                <div class="top_button_new_premiun">
                    <p class="new_two_row">
                        New!
                    </p>
                    <p class="premium_two_row">
                        Premium
                    </p>
                </div>
                <div class="RecentyViewedImg RecentyViewedImgtworow"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
            </div>
            <div >
                <div class="two_row_detail">
                    <span class="P-RecentlyViewedHeading-single_row">Peaches &amp; Cream by Babyhug Rhinestone Studded...</span>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                </div>
                <i class="ion-ios-heart-outline custom_heart"></i>
            </div>
        </div>
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM category_two_row">
            <div class="RecentyViewedThumbs grey_border_bottom">
                <div class="top_button_new_premiun">
                    <p class="new_two_row">
                        New!
                    </p>
                    <p class="premium_two_row">
                        Premium
                    </p>
                </div>
                <div class="RecentyViewedImg RecentyViewedImgtworow"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
            </div>
            <div >
                <div class="two_row_detail">
                    <span class="P-RecentlyViewedHeading-single_row">Peaches &amp; Cream by Babyhug Rhinestone Studded...</span>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                </div>
                <i class="ion-ios-heart-outline custom_heart"></i>
            </div>
        </div>
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM category_two_row">
            <div class="RecentyViewedThumbs grey_border_bottom">
                <div class="top_button_new_premiun">
                    <p class="new_two_row">
                        New!
                    </p>
                    <p class="premium_two_row">
                        Premium
                    </p>
                </div>
                <div class="RecentyViewedImg RecentyViewedImgtworow"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
            </div>
            <div >
                <div class="two_row_detail">
                    <span class="P-RecentlyViewedHeading-single_row">Peaches &amp; Cream by Babyhug Rhinestone Studded...</span>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                </div>
                <i class="ion-ios-heart-outline custom_heart"></i>
            </div>
        </div>
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM category_two_row">
            <div class="RecentyViewedThumbs grey_border_bottom">
                <div class="top_button_new_premiun">
                    <p class="new_two_row">
                        New!
                    </p>
                    <p class="premium_two_row">
                        Premium
                    </p>
                </div>
                <div class="RecentyViewedImg RecentyViewedImgtworow"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
            </div>
            <div >
                <div class="two_row_detail">
                    <span class="P-RecentlyViewedHeading-single_row">Peaches &amp; Cream by Babyhug Rhinestone Studded...</span>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                </div>
                <i class="ion-ios-heart-outline custom_heart"></i>
            </div>
        </div>
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM category_two_row">
            <div class="RecentyViewedThumbs grey_border_bottom">
                <div class="top_button_new_premiun">
                    <p class="new_two_row">
                        New!
                    </p>
                    <p class="premium_two_row">
                        Premium
                    </p>
                </div>
                <div class="RecentyViewedImg RecentyViewedImgtworow"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
            </div>
            <div >
                <div class="two_row_detail">
                    <span class="P-RecentlyViewedHeading-single_row">Peaches &amp; Cream by Babyhug Rhinestone Studded...</span>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                </div>
                <i class="ion-ios-heart-outline custom_heart"></i>
            </div>
        </div>
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM category_two_row">
            <div class="RecentyViewedThumbs grey_border_bottom">
                <div class="top_button_new_premiun">
                    <p class="new_two_row">
                        New!
                    </p>
                    <p class="premium_two_row">
                        Premium
                    </p>
                </div>
                <div class="RecentyViewedImg RecentyViewedImgtworow"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
            </div>
            <div >
                <div class="two_row_detail">
                    <span class="P-RecentlyViewedHeading-single_row">Peaches &amp; Cream by Babyhug Rhinestone Studded...</span>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                </div>
                <i class="ion-ios-heart-outline custom_heart"></i>
            </div>
        </div>
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM category_two_row">
            <div class="RecentyViewedThumbs grey_border_bottom">
                <div class="top_button_new_premiun">
                    <p class="new_two_row">
                        New!
                    </p>
                    <p class="premium_two_row">
                        Premium
                    </p>
                </div>
                <div class="RecentyViewedImg RecentyViewedImgtworow"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
            </div>
            <div >
                <div class="two_row_detail">
                    <span class="P-RecentlyViewedHeading-single_row">Peaches &amp; Cream by Babyhug Rhinestone Studded...</span>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                </div>
                <i class="ion-ios-heart-outline custom_heart"></i>
            </div>
        </div>
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM category_two_row">
            <div class="RecentyViewedThumbs grey_border_bottom">
                <div class="top_button_new_premiun">
                    <p class="new_two_row">
                        New!
                    </p>
                    <p class="premium_two_row">
                        Premium
                    </p>
                </div>
                <div class="RecentyViewedImg RecentyViewedImgtworow"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
            </div>
            <div >
                <div class="two_row_detail">
                    <span class="P-RecentlyViewedHeading-single_row">Peaches &amp; Cream by Babyhug Rhinestone Studded...</span>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                </div>
                <i class="ion-ios-heart-outline custom_heart"></i>
            </div>
        </div>
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM category_two_row">
            <div class="RecentyViewedThumbs grey_border_bottom">
                <div class="top_button_new_premiun">
                    <p class="new_two_row">
                        New!
                    </p>
                    <p class="premium_two_row">
                        Premium
                    </p>
                </div>
                <div class="RecentyViewedImg RecentyViewedImgtworow"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
            </div>
            <div >
                <div class="two_row_detail">
                    <span class="P-RecentlyViewedHeading-single_row">Peaches &amp; Cream by Babyhug Rhinestone Studded...</span>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                </div>
                <i class="ion-ios-heart-outline custom_heart"></i>
            </div>
        </div>
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM category_two_row">
            <div class="RecentyViewedThumbs grey_border_bottom">
                <div class="top_button_new_premiun">
                    <p class="new_two_row">
                        New!
                    </p>
                    <p class="premium_two_row">
                        Premium
                    </p>
                </div>
                <div class="RecentyViewedImg RecentyViewedImgtworow"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
            </div>
            <div >
                <div class="two_row_detail">
                    <span class="P-RecentlyViewedHeading-single_row">Peaches &amp; Cream by Babyhug Rhinestone Studded...</span>
                    <p class="DarkGrey">
                        <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                    </p>
                </div>
                <i class="ion-ios-heart-outline custom_heart"></i>
            </div>
        </div>
    </div>
</div>