<div class="Wrapper">
    <div class="RecentyViewedMain">
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM">
            <div class="RecentyViewedThumbs">
                <div class="RecentyViewedImg"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
                <!--<div class="RecentyViewedDelete">
                <i class="fa fa-trash-o"></i>
                </div>-->
                <a> <span class="P-RecentlyViewedHeading">Peaches & Cream by Babyhug Rhinestone Studded...</span> <span class="P-RecentlyViewedHeading2">6 to 12 Months, Your daughter will look nothing less than a princess in the dress</span> </a>
                <p class="DarkGrey">
                    <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                </p>
            </div>
            <div ng-click="ShareShortList()" class="ShortListedShare">
                <i class="icon ion-android-more-vertical"></i>
            </div>
        </div>
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM">
            <div class="RecentyViewedThumbs">
                <div class="RecentyViewedImg"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
                <!--<div class="RecentyViewedDelete">
                <i class="fa fa-trash-o"></i>
                </div>-->
                <a> <span class="P-RecentlyViewedHeading">Peaches & Cream by Babyhug Rhinestone Studded...</span> <span class="P-RecentlyViewedHeading2">6 to 12 Months, Your daughter will look nothing less than a princess in the dress</span> </a>
                <p class="DarkGrey">
                    <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                </p>
            </div>
            <div ng-click="ShareShortList()" class="ShortListedShare">
                <i class="icon ion-android-more-vertical"></i>
            </div>
        </div>
        <div ng-click="goToDetail()" class="WhiteBackground ShortListM">
            <div class="RecentyViewedThumbs">
                <div class="RecentyViewedImg"><img src="img/RecentlyViewed/recently_viewed_1.png">
                </div>
                <!--<div class="RecentyViewedDelete">
                <i class="fa fa-trash-o"></i>
                </div>-->
                <a> <span class="P-RecentlyViewedHeading">Peaches & Cream by Babyhug Rhinestone Studded...</span> <span class="P-RecentlyViewedHeading2">6 to 12 Months, Your daughter will look nothing less than a princess in the dress</span> </a>
                <p class="DarkGrey">
                    <span class="RedColor">Rs. 959</span> &nbsp; <span style="text-decoration: line-through;">Rs.1129</span> (15% OFF)
                </p>
            </div>
            <div ng-click="ShareShortList()" class="ShortListedShare">
                <i class="icon ion-android-more-vertical"></i>
            </div>
        </div>
    </div>
</div>