<div class="Wrapper sortby">
    <div class="sortbycontent">
        <h2 class="sortby_heading">Sort By</h2>
        <ul class="sort_by_options">
        <li ng-click="sortby.hide();"><img class="sort_by_icon" src="img/sortby/star.png"><span>Popularity</span></li>
        <li ng-click="sortby.hide();"><img class="sort_by_icon" src="img/sortby/rocket.png"><span>New Arrivals</span></li>
        <li ng-click="sortby.hide();"><img class="sort_by_icon" src="img/sortby/discount.png"><span>Highest Discount</span></li>
        <li ng-click="sortby.hide();"><img class="sort_by_icon" src="img/sortby/toparrow.png"><span>Price Low To High</span></li>
        <li ng-click="sortby.hide();"><img class="sort_by_icon" src="img/sortby/downarrow.png"><span>Price High To Low</span></li>
        <li ng-click="sortby.hide();"><img class="sort_by_icon" src="img/sortby/a-z.png"><span>Name A To Z</span></li>
        <li ng-click="sortby.hide();"><img class="sort_by_icon" src="img/sortby/z-a.png"><span>Name Z To A</span></li>
        </ul>
    </div>
</div>