<div class="Wrapper WhiteBackground">
    <div class="LoginMain">
        <div class="LoginFrom">
            <label class="LoginInput">
                <input type="text" placeholder="Full Name" />
            </label>
            <label class="LoginInput">
                <input type="text" placeholder="Address" />
            </label>
            <label class="LoginInput">
                <input type="text" placeholder="Pin Code" />
            </label>
            <label class="LoginInput">
                <input type="text" placeholder="City" />
            </label>
            <label class="LoginInput">
                <select style="border: none; border-bottom: 1px solid #ccc;">
                    <option>Select State</option>
                    <option>Punjab</option>
                    <option>KPK</option>
                    <option>Sindh</option>
                    <option>Balochistan</option>
                </select> </label>
            <div>
                <label class="LoginInput RegInput1">
                    <input type="email" value="+92" />
                </label>
                <label class="LoginInput RegInput2">
                    <input type="tel" placeholder="Mobile No." />
                </label>
            </div>
            <div class="clear"></div>
            <div>
                <label class="LoginInput DelInput1">
                    <input type="email" value="+92" />
                </label>
                <label class="LoginInput DelInput2">
                    <input type="email" value="423" />
                </label>
                <label class="LoginInput DelInput3">
                    <input type="tel" placeholder="Landline No." />
                </label>
            </div>
            <div class="clear"></div>
            <p style="text-decoration: underline; color: #0398DC;">Clear Fields</p>
            <button ng-click="onSummary()" class="ContinueBtn" type="button">CONTINUE</button>
        </div>
    </div>
</div>