<div class="Wrapper WhiteBackground">
    <div class="LoginMain">
        <p>
            You have 1 item(s) in your Cart
        </p>
        <div class="LoginFrom">
            <div class="CartItemWithName1">
                <div class="CartItemImg"><img src="img/cart/item_img.png" width="80" />
                </div>
                <div class="CartItemName1">
                    <p class="CItemName1">
                        Pampers Baby Dry Diapers Newborn To Small - 5 Pieces (Qty 6 )
                    </p>
                    <p class="CItemDet1">
                        Upto 8 Kg, 1 Papers = 1 Dry Night, With magic gel and cotton
                    </p>
                    <div class="CartItemPrice">
                        <p>
                            RS 54.15 &nbsp; <strike> 57.00 </strike> &nbsp; <span style="margin-top: 3px; color: red; font-weight: normal;"> (5.00% OFF) </span>
                        </p>
                        <p style="margin-top: 0; color: #a2a2a2; font-weight: normal;">
                            You Save: RS 2.85
                        </p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="NextDayDeliveryM WhiteBackground">
        <div class="NextDayL">
            <input type="checkbox" name="Nextday" />
            Next day delivery
            <p>
                Available If you order in next
            </p>
            <p style="color: #008000;">
                3 Hrs & 40 Mins <span style="color: #0000ff;">[?]</span>
            </p>
            <p>
                Estimated Delivery by: <b> Saturday, 30th May 2016</b>
            </p>
        </div>
        <div style="width: 1px; height: 100%; background: #a1a1a1;"></div>
        <div class="NextDayR">
            Edit
        </div>
    </div>
    <div class="ApplyLoyaltyEarn WhiteBackground">
        <div class="OfferZoneTabsMain" id="SummaryTab">
            <div class="OfferZoneTabs tabs tabs-full-width" style="line-height: 33px; padding-top: 0; height: 36px;">
                <a ng-click="changeTabs(1)" ng-class="SummaryTab1Class">Apply Coupon</a>
                <a ng-click="changeTabs(2)" ng-class="SummaryTab2Class">Loyalty Cash</a>
                <a ng-click="changeTabs(3)" ng-class="SummaryTab3Class">Earn Payback</a>
            </div>
        </div>
        <!-- Summary Tab -->
        <div  class="Tab-1" ng-include src="SummaryTab"></div>
        <!-- Summary Tab -->
    </div>
</div>