<div class="Wrapper">
    <div class="LoginMain">
        <div class="LoginFrom">
            <label class="LoginInput">
                <input type="email" placeholder="Email Id" />
            </label>
            <label class="LoginInput">
                <input type="password" placeholder="Password" />
            </label>
            <label class="item item-checkbox" id="LoginCheckbox">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" value="on">
                    <i class="checkbox-icon"></i>
                </div>
                <div class="item-content disable-pointer-events" ng-transclude="">
                    <span>Keep me logged in</span>
                </div></label>
            <div class="OrangeBigButton LoginBtn">
                LOGIN
            </div>
            <div class="ForgotPassword">
                Forgot Password
            </div>
            <div class="LoginBtn">
                <img src="img/login_with_fb.png">
            </div>
            <div class="ForgotPassword">
                OR
            </div>
            <div class="LoginBtn">
                <img src="img/login_with_gplus.png">
            </div>
        </div>
    </div>
</div>