<tab-slide-box class="tabs-positive">
    <div class="tsb-icons tabs-balanced" style="background:none;">
        <div class="tsb-ic-wrp">
            <ion-scroll direction="x" class="tsb-hscroll All_slide" >
                <a class="ion-model-s1">All</a>
                <a class="ion-model-s1">0-9</a>
                <a class="ion-model-s1">A</a>
                <a class="ion-model-s1">B</a>
                <a class="ion-model-s1">C</a>
                <a class="ion-model-s1">D</a>
                <a class="ion-model-s1">E</a>
                <a class="ion-model-s1">F</a>
                <a class="ion-model-s1">G</a>
                <a class="ion-model-s1">H</a>
                <a class="ion-model-s1">I</a>
                <a class="ion-model-s1">J</a>
                <a class="ion-model-s1">K</a>
                <a class="ion-model-s1">L</a>
                <a class="ion-model-s1">M</a>
                <a class="ion-model-s1">N</a>
                <a class="ion-model-s1">O</a>
                <a class="ion-model-s1">P</a>
                <a class="ion-model-s1">Q</a>
                <a class="ion-model-s1">R</a>
                <a class="ion-model-s1">S</a>
                <a class="ion-model-s1">T</a>
                <a class="ion-model-s1">U</a>
                <a class="ion-model-s1">V</a>
                <a class="ion-model-s1">W</a>
                <a class="ion-model-s1">X</a>
                <a class="ion-model-s1">Y</a>
                <a class="ion-model-s1">Z</a>
            </ion-scroll>
        </div>
    </div>
    <ion-slide-box show-pager="false" class="SliderMain slider"  does-continue="false"  style="visibility: visible;"  on-slide-changed="slideHasChanged($index);" >
        <ion-slide>

        </ion-slide>
    </ion-slide-box>
</tab-slide-box>
<div class="MainWrapper">
    <!-- Premium Boutique Main -->
    <div class="DarkGreyBackground PremiumBoutiqueMain">
        <div class="BoutiqueThumbsMain">
            <!--<ion-scroll zooming="true" direction="y" >   -->
            <div class="BoutiqueThumbs" style="width:49%;float:left;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/1.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>

            <div class="BoutiqueThumbs" style="width:49%;float:right;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/2.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>

            <div class="BoutiqueThumbs" style="width:49%;float:left;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/3.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>

            <div class="BoutiqueThumbs" style="width:49%;float:right;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/4.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>
            <div class="BoutiqueThumbs" style="width:49%;float:left;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/1.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>

            <div class="BoutiqueThumbs" style="width:49%;float:right;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/2.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>

            <div class="BoutiqueThumbs" style="width:49%;float:left;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/3.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>

            <div class="BoutiqueThumbs" style="width:49%;float:right;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/4.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>
            <div class="BoutiqueThumbs" style="width:49%;float:left;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/1.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>

            <div class="BoutiqueThumbs" style="width:49%;float:right;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/2.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>

            <div class="BoutiqueThumbs" style="width:49%;float:left;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/3.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>

            <div class="BoutiqueThumbs" style="width:49%;float:right;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/4.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>
            <div class="BoutiqueThumbs" style="width:49%;float:left;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/1.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>

            <div class="BoutiqueThumbs" style="width:49%;float:right;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/2.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>

            <div class="BoutiqueThumbs" style="width:49%;float:left;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/3.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>

            <div class="BoutiqueThumbs" style="width:49%;float:right;padding:0px;margin-bottom:1%px;">
                <a> <img src="img/premium/4.png"> <span class="brand_img"><img src="img/premium/brand_1.png" width="50%"> </span> <span class="brand_name">3C4G</span></a>
            </div>
            <!-- </ion-scroll>-->
        </div>
    </div>
    <!-- Premium Boutique Main -->
</div>

<style>
    .tabbed-slidebox .slider {
        height: inherit;
    }
</style>

