<div class="MainWrapper">
    <!-- Premium Boutique Main -->
    <div class="DarkGreyBackground PremiumBoutiqueMain">
        <div class="BoutiqueThumbsMain">
            <div class="BoutiqueThumbs">
                <a> <img src="img/premium_boutique_img_1.jpg"> <span class="P-Boutique-heading-L">Style up with bottoms</span> <span class="P-Boutique-heading-R RedColor">NEW TODAY</span> <span class="P-Boutique-heading2-L">Match with your favourites..</span> <span class="P-Boutique-heading2-R RedColor">shop now</span> </a>
            </div>
            <div class="BoutiqueThumbs">
                <a> <img src="img/premium_boutique_img_2.jpg"> <span class="P-Boutique-heading-L">Style up with bottoms</span> <span class="P-Boutique-heading-R RedColor">NEW TODAY</span> <span class="P-Boutique-heading2-L">Match with your favourites..</span> <span class="P-Boutique-heading2-R RedColor">shop now</span> </a>
            </div>
            <div class="BoutiqueThumbs">
                <a> <img src="img/premium_boutique_img_3.jpg"> <span class="P-Boutique-heading-L">Style up with bottoms</span> <span class="P-Boutique-heading-R RedColor">NEW TODAY</span> <span class="P-Boutique-heading2-L">Match with your favourites..</span> <span class="P-Boutique-heading2-R RedColor">shop now</span> </a>
            </div>
            <div class="BoutiqueThumbs">
                <a> <img src="img/premium_boutique_img_4.jpg"> <span class="P-Boutique-heading-L">Style up with bottoms</span> <span class="P-Boutique-heading-R RedColor">NEW TODAY</span> <span class="P-Boutique-heading2-L">Match with your favourites..</span> <span class="P-Boutique-heading2-R RedColor">shop now</span> </a>
            </div>
            <div class="BoutiqueThumbs">
                <a> <img src="img/premium_boutique_img_5.jpg"> <span class="P-Boutique-heading-L">Style up with bottoms</span> <span class="P-Boutique-heading-R RedColor">NEW TODAY</span> <span class="P-Boutique-heading2-L">Match with your favourites..</span> <span class="P-Boutique-heading2-R RedColor">shop now</span> </a>
            </div>
            <div class="BoutiqueThumbs">
                <a> <img src="img/premium_boutique_img_6.jpg"> <span class="P-Boutique-heading-L">Style up with bottoms</span> <span class="P-Boutique-heading-R RedColor">NEW TODAY</span> <span class="P-Boutique-heading2-L">Match with your favourites..</span> <span class="P-Boutique-heading2-R RedColor">shop now</span> </a>
            </div>
            <div class="BoutiqueThumbs">
                <a> <img src="img/premium_boutique_img_7.jpg"> <span class="P-Boutique-heading-L">Style up with bottoms</span> <span class="P-Boutique-heading-R RedColor">NEW TODAY</span> <span class="P-Boutique-heading2-L">Match with your favourites..</span> <span class="P-Boutique-heading2-R RedColor">shop now</span> </a>
            </div>
        </div>
    </div>
    <!-- Premium Boutique Main -->
</div>
<style>
    .tabbed-slidebox .slider {
    height: inherit;
    
}
</style>